
@import url('https://fonts.cdnfonts.com/css/acari-sans?styles=24806,24802,24804,24807,24799');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: 'Acari Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  } 

  header{
    @apply bg-background-secondary fixed w-full flex justify-around items-center py-3;
    z-index: 40;
  }

  .nav-block{
    @apply bg-background-secondary py-3;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  .nav-link{
    @apply font-bold text-secondary-plum-hover hover:text-primary-brand duration-200
  }

  .mobile-btn{
    display: none;
  }

  .mobile-btn i{
    font-size:40px;
    color :#b744b8; 
  }
  
  @media screen and (max-width: 600px) {
    .mobile-btn{
      display: flex;
      @apply border-[1px] border-secondary-plum-hover;
    }
    .nav-block{
      position: absolute;
      /* display: none; */
      top: 57px;
      z-index:-30;
      width: 100%;
      padding: 0 40px;
      flex-direction: column;
      align-items: flex-start;
      transition: padding 0.3s cubic-bezier(0.4, 0, 0.9, 1);
    }
    .nav-block .nav-link{
      display: none;
      transition: display 0.3s eas;
    }
    .nav-block.open > .nav-link{
      display: block;
    }
    .nav-block.open{
      padding: 40px;
    }
  }


  



  .product-card{
    @apply w-60 overflow-hidden;
  }
  
  .product-card img{
    @apply w-full max-h-[250px] object-fill brightness-90;
  }
  
  .pointer{
    cursor: pointer;    
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }
  i{
    color: #fff;
    transition: all 0.2s ease;
  }
  
  .pointer:hover{
    background-color: #4c49b1;
  }
  .pointer:hover i{
    color:#fff;
  }

  .container-block{
    @apply relative bg-primary-brand overflow-hidden
  }

  .button-bar{
    @apply absolute flex justify-around items-center w-full translate-y-20 duration-500 ease-in-out;
  }

  .container-block:hover .button-bar{
    @apply  -translate-y-20;
  }
}