
@import url('https://fonts.cdnfonts.com/css/acari-sans?styles=24806,24802,24804,24807,24799');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: 'Acari Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  } 

  .nav-link{
    @apply text-secondary-plum-hover font-bold hover:text-primary-brand duration-200; 
  }
  .mobile-btn i{
    color: #4c49b1;
    font-size:30px;
    font-weight: 900;
    background-color: red;
  }

  .product-card{
    @apply w-60 overflow-hidden;
  }
  
  .product-card img{
    @apply w-full max-h-[250px] object-fill brightness-90;
  }
  
  .pointer{
    cursor: pointer;    
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }
  i{
    color: #fff;
    transition: all 0.2s ease;
  }
  
  .pointer:hover{
    background-color: #4c49b1;
  }
  .pointer:hover i{
    color:#fff;
  }

  .container-block{
    @apply relative bg-primary-brand overflow-hidden
  }

  .button-bar{
    @apply absolute flex justify-around items-center w-full translate-y-20 duration-500 ease-in-out;
  }

  .container-block:hover .button-bar{
    @apply  -translate-y-20;
  }
}