
@import url('https://fonts.cdnfonts.com/css/acari-sans?styles=24806,24802,24804,24807,24799');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: 'Acari Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  } 

  header{
    @apply bg-background-secondary fixed top-0 w-full flex justify-around items-center py-3;
    z-index: 40;
  }


  .nav-block{
    @apply bg-background-secondary py-3;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  .nav-link{
    @apply font-bold text-secondary-plum-hover hover:text-primary-brand duration-200
  }

  .mobile-btn{
    display: none;
  }

  .mobile-btn i{
    font-size:30px;
    color :#b744b8; 
  }

  .icon-containers{
    display: flex;
    justify-content: flex-end;
    gap:60px
  }

  .cart-icon{
    position: relative;
  }

  .cart-icon img{
    height: 26px;
    color:#b744b8;
  }

  .cart-icon > div{
    @apply bg-secondary-plum-inactive absolute grid place-content-center font-bold text-primary-brand rounded-full p-1 w-[26px] h-[26px] -top-3 -right-4
  }


  @media screen and (max-width: 700px) {
    header{
      @apply justify-between px-6 py-6
    }
    
    .icon-containers{
      position: absolute;
      top: 30px;
      right: 90px;
      gap: 30px;
      width: 120px;
    }

    .mobile-btn{
      display: flex;
      @apply border-[1px] border-secondary-plum-hover cursor-pointer;
    }
    .nav-block{
      position: absolute;
      /* display: none; */
      top: 56px;
      left: 0;
      z-index:-30;
      width: 100%;
      padding: 0 40px;
      flex-direction: column;
      align-items: flex-start;
      transition: padding 0.3s cubic-bezier(0.4, 0, 0.9, 1);
    }
    .nav-block .nav-link{
      display: none;
      transition: display 0.3s eas;
    }
    .nav-block.open > .nav-link{
      display: block;
    }
    .nav-block.open{
      padding: 40px;
    }
  }


  

/* Product Card */

  .product-card{
    @apply flex flex-col overflow-hidden;
  }
    
  .container-block img{
    @apply w-full max-h-[300px] brightness-90;
  }
  
  .pointer{
    cursor: pointer;    
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }


  i{
    color: #fff;
    transition: all 0.2s ease;
  }
  
 
  .pointer:hover i{
    color:#fff;
  }

  .container-block{
    @apply relative bg-primary-brand overflow-hidden
  }

  .button-bar{
    @apply absolute flex justify-around items-center w-full translate-y-20 duration-500 ease-in-out;
  }

  .container-block:hover .button-bar{
    @apply  -translate-y-20;
  }

  .container-block:hover > img{
    @apply brightness-[45%] duration-300
  }

  @media(hover:none){
    .pointer{
      width: 60px;
      height: 60px;
    }

    .pointer i{
      font-size: 35px;
    }
    .button-bar{
      @apply flex-col h-[90%] pb-5 translate-y-full
    }

    .container-block:hover .button-bar{
      @apply -translate-y-full
    }
  }

/* Product Component */

/* Form Component */
  .form-input:focus ~.form-input-label{
    top:-8px;
    font-size: 12px;
    color: #0e0b2f;
    font-weight: 300;
  }
/* Form Component */


/* Categories Container */
.categories-container{
  @apply p-4 flex flex-col gap-3 min-h-screen tablet:grid tablet:grid-cols-2  tablet:gap-3 tablet:h-full laptop:mx-20 laptop:mt-10;
}

.category-item{
  @apply relative flex h-[300px] w-full tablet:h-[350px];
}

.category-item img{
  @apply brightness-50
}

.category-item:hover img{
  @apply scale-[1.15] duration-[1.5s] ease-in-out brightness-75 ;
}
.category-item:last-of-type{
  @apply col-span-2;
}

.category-item .title{
  @apply absolute top-3 w-full h-full text-primary-brand-inactive text-4xl font-extrabold flex items-center justify-center  
}

.category-item .button{
  @apply  absolute top-10 flex items-center justify-center w-full h-full mt-8 
}

.category-item .button > button{
  @apply hover-none:text-primary-brand-disabled
}

@media (hover:hover)  {
  .category-item img{
    @apply brightness-100
  }
  .category-item .title, 
  .category-item .button{
    @apply opacity-0
  }

  .category-item:hover .title,
  .category-item:hover .button{
    @apply opacity-100 ease-in duration-300
  }
}

/* Counter */
.counter{
  
  @apply flex items-center justify-between;
}

.counter span{
  @apply flex items-center justify-center border-background-secondary-hover;
}

.counter span:nth-of-type(2){
  @apply border-y-[1px] py-[6px] px-3 h-full font-extrabold;
}
.counter span:first-of-type,
.counter span:last-of-type{
  @apply border-[1px] p-[6px] hover:bg-secondary-plum-disabled duration-200 cursor-pointer;
}

.counter span > i {
  color: #6e6c7e;
}

.counter span:hover > i {
  color: #0d092b;
  transition: all 0.1s;
}

/* Counter styles */

}